.container {
    padding-left: 1rem;
    padding-right: 1rem;
}

.highlight {
    font-size: 30px;
    font-weight: 600;
    line-height: 1.5;
    margin-top: 1rem;
}

.iconContainer {
    display: flex;
    align-items: center;
    width: fit-content;
    padding: 0.75rem;
    border-radius: 0.5rem;

}

.description {
    color: #9ca3ab;
    font-size: 16px;
    font-weight: 500;
    margin-top: 0.25rem;
}