.titleContainer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.title {
    font-size: 48px;
    font-weight: 600;
    letter-spacing: -1.2px;
}

.highlight {
    /* background: linear-gradient(to right, #f88660, #ff4c88); */
    background: -webkit-linear-gradient(#f88660, #ff4c88);
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}