@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

.titleContainer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.title {
    font-size: 48px;
    font-weight: 600;
    letter-spacing: -1.2px;
}

.highlight {
    background: linear-gradient(to right, #f88660, #ff4c88);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.inputContainer {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    padding: .4rem .7rem .4rem .7rem;
    gap: .3rem;
    border-radius: .25rem;
    background-color: #ffffff;
}

.labelContainer {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.label {
    font-family: 'JetBrains Mono', monospace;
    font-weight: 500;
}

input {
    font-family: 'JetBrains Mono', monospace;
    box-sizing: border-box;
    width: 100%;

    border: none;
    background-color: #ffffff;

}

.icon {
    font-size: 1.5rem;
    color: black;
}

input:focus {
    outline: none;
}

.flexContainer {
    display: flex;
    height: calc(.4rem + .4rem + .25rem + 1rem + .30rem);
    flex-direction: row;
    gap: .5rem;
}

.buttonContainer {
    font-family: 'JetBrains Mono', monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    box-sizing: border-box;
    /* background-color: #401d07; */
    background-color: #702239;
    border-radius: .25rem;
    padding: 0 3rem 0 3rem;
    font-weight: 600;
    letter-spacing: .1rem;
    /* color: #e2c647; */
    color: #ffffff;
    /* border: 1px solid #ffa90c; */
    border: 1px solid #ff4c88;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.buttonContainer::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.2), transparent);
    animation: shimmer 5s infinite;
}

    @keyframes shimmer {
        0% {
            left: -100%;
        }
        100% {
            left: 100%;
        }
    }